{% extends "base.html" %}

{% block content %}
  <h1>Authors</h1>

  <div class="authors-list">
    {% for author in authors %}
      <div class="author-card">
        <img src="{{ author.avatar_url }}" alt="{{ author.display_name }}" class="author-avatar">

        <div class="author-info">
          <h3>{{ author.display_name }}</h3>
          <p class="author-category">{{ author.category_name }}</p>
          <p class="author-bio">{{ author.author_bio }}</p>
          
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
